/**
  Color Palette:
  Navy Blue:     #120a6b
  Medium Blue:   #1a15bd
  Light BLue:    #69b4e1  **
  Dark Green:    #08946d  **
  Light Green:   #47e77a  **
**/

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #4eabe6;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border-bottom: 0.5em solid #47e77a;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

header a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

p {
  font-size: 1.5rem;
}

h2 + p {
  margin-top: 2rem;
}

.logo {
  color: white;
  margin-left: 1.5rem;
  font-family: 'Fugaz One', cursive;
  white-space: nowrap;
}

.logo a {
  text-decoration: none;
  color: white;
}

.account {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
}

.account .btn {
  width: 6rem;
  font-size: 1rem;
}

.btn {
  border: 1px solid white;
  padding: 0.5rem;
  text-align: center;
  white-space: nowrap;
  border-radius: 100px;
  margin: 1rem;
}

.btn:hover {
  color: #4eabe6;
  background: white;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: rgba(90, 88, 88, 0.5) url("../_images/green-flagstick.jpg") no-repeat fixed bottom;
  background-size: cover;
  font-size: 3rem;
  font-family: 'Fugaz One', cursive;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: #47e77a;
  text-decoration-color: #47e77a;
  padding-top: 15vh;
  color: white;
}

.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(105, 105, 105, 0.7);
  border-radius: 100px;
  padding: 2rem;
  margin: 0px 10px 150px 10px;
}

.explanation {
  background-color: #eeecec;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 2.5rem;
  color: #4eabe6;
  padding: 1rem 3rem;
}

/* .explanation h3 {
  font-size: 2rem;
} */

.stats {
  display: flex;
  flex-direction: column;
  background-color: #4eabe6;
  /* background-color: #95cbeb; */
  font-family: 'Prompt', sans-serif;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  padding: 1rem;
}

.stat-icon {
  display: flex;
  flex-direction: column;
}

.stat-icon caption {
  align-self: flex-end;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4eabe6;
  border-top: 0.5rem solid #47e77a;
  text-align: center;
  color: white;
  padding: 1rem;
}

footer p {
  font-size: 1rem;
}

@media (max-width: 950px) {
  .landing {
    font-size: 2rem;
    padding-top: 25vh;
  }

  .tagline {
    padding: 1rem;
  }

  .icon-wrapper {
    flex-direction: column;
  }

  .stat-icon {
    margin: 1em 0;
  }
}

@media (max-width: 550px) {
  header {
    padding: 1rem;
  }
  
  .logo {
    margin: auto;  
  }
  
  .account {
    width: auto;
    margin: 10px auto;
    display: none;
  }

  .account .btn {
    font-size: 1rem;
  }

  .landing {
    font-size: 1rem; 
    background-image: url("../_images/fairway.jpg");
    background-position: center;
    background-attachment: initial;
    padding-top: 15vh;
  }

  .tagline {
    padding: 0.75rem;
  }

  .explanation h2, .stats h2 {
    font-size: 2rem;
  }

  /* section h3 {
    font-size: 1.5rem;
  } */
}

@media (max-width: 350px) {
  .landing {
    font-size: 1.5rem;
  }
}
