/*
* Application Color Palette
*/
:root {
  --primary-color: rgb(78, 171, 230);
  --alt-primary-color: rgb(9, 118, 182);
  --tertiary-color: rgb(238, 236, 236);
  --accent-color: rgb(71, 231, 122);
}

* {
  margin: 0;
  padding: 0;
}

.alert {
  justify-content: center;
  align-self: center;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  font-family: "Prompt", sans-serif;
}

.alert i {
  margin-right: 10px;
}

.alert-danger {
  border: 2px solid rgb(236, 41, 41);
  background-color: rgb(236, 118, 118);
  color: white;
}

.alert-success {
  border: 2px solid rgb(5, 139, 57);
  background-color: rgb(30, 214, 137);
  color: white;
}

.btn {
  border-radius: 100px;
  border: 1px solid;
  padding: 5px 10px;
  font-family: "Prompt", sans-serif;
  text-decoration: none;
  text-align: center;
  color: white;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 2px solid var(--accent-color);
  border-radius: 100px;
  background-color: var(--primary-color);
  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
}

.submit-btn:hover {
  cursor: pointer;
  position: relative;
  top: -2px;
}

.submit-btn:active {
  background-color: white;
  color: var(--primary-color);
}

header {
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom: 5px solid var(--accent-color);
  box-sizing: border-box;
  padding: 1rem;
  z-index: 1;
}

/*
* Landing Page Styles
*/

#landing-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: var(--primary-color);
  border-top: 5px solid var(--accent-color);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 2.5rem 0;
}

.mobile-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-menu {
  display: none;
  color: white;
  font-size: 2rem;
}

.logo {
  color: white;
  font-family: "Fugaz One", cursive;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

#get-started:hover {
  color: var(--primary-color);
  background-color: white;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("../images/green-flagstick.jpg") fixed;
  background-size: cover;
}

.tagline {
  font-family: "Fugaz One", cursive;
  font-size: 4rem;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: var(--accent-color);
  color: white;
  background-color: rgba(128, 128, 128, 0.75);
  border-radius: 100px;
  padding: 5px 25px;
}

.explanation {
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  padding: 1rem;
}

.feature-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  list-style-type: none;
}

.feature {
  margin: 0 2rem;
}

/*
* Dashboard Styles
*/

.container {
  padding-top: 10vh;
  height: 90vh;
  display: flex;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: var(--alt-primary-color);
  text-align: center;
  box-sizing: border-box;
}

.sidebar-link {
  color: white;
  font-family: "Prompt", sans-serif;
  text-decoration: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

.sidebar-link:hover,
.active-menu {
  background-color: var(--primary-color);
  text-decoration: underline var(--accent-color);
}

.logout {
  position: absolute;
  bottom: 0;
  align-self: center;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  font-family: "Prompt", sans-serif;
}

.content-item {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  overflow-y: auto;
}

.scorecards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-scorecard {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.new-nine {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(11, 1fr);
}

.hole-label {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  height: 50%;
}

.new-score-field {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  width: 40px;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
}

#out,
#in,
#total {
  border: 2px solid var(--accent-color);
}

#add-scorecard {
  margin-top: 1rem;
  width: 30%;
  min-width: 288px;
}

.old-scorecards {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  text-align: center;
}

.old-scorecard {
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin-bottom: 1rem;
}

/*
* Trophies Styles
*/

.trophies {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  height: auto;
}

.trophy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: var(--primary-color);
  color: white;
  border: 3px solid var(--accent-color);
  border-radius: 15px;
  font-family: "Fugaz One", cursive;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 5px;
}

/*
* Practice Styles
*/

.practice {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.practice-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.practice-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.time-wrap {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

#time-start,
#time-end {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}

.practice-type {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#type-range {
  margin: 0 1rem;
}

#green-label {
  margin-left: 1rem;
}

#type-green {
  margin-left: 1rem;
}

.notes-wrap {
  display: flex;
  flex-direction: column;
}

#practice-notes {
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 10px;
  resize: none;
  font-size: 1rem;
}

#add-practice {
  margin: 1rem 0;
  width: 100%;
}

.practice-sessions {
  margin: 0 2rem 1rem;
  text-align: center;
}

.practice-session {
  padding: 1rem;
  margin: 1rem 0;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  overflow-wrap: break-word;
}

/*
* Starts the auto grid wrapping of the scorecard form
*/
@media screen and (max-width: 1130px) {
  .new-scorecard {
    width: 100%;
  }

  .new-nine {
    grid-template-columns: repeat(auto-fill, 85px);
  }

  .old-scorecards {
    width: 100%;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 750px) {
  .trophies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  #landing-header {
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }

  #get-started {
    display: none;
    width: 70%;
    margin-top: 10px;
  }

  .mobile-wrap {
    width: 100%;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    left: 1rem;
  }

  .tagline {
    font-size: 3rem;
  }

  .explanation {
    font-size: 1.5rem;
  }

  @keyframes slidein {
    from {
      width: 0;
    }

    to {
      width: 50%;
    }
  }

  @keyframes slideout {
    from {
      width: 50%;
    }

    to {
      width: 0;
    }
  }

  .slidein {
    animation: 0.5s slidein forwards;
  }

  .slideout {
    animation: 0.5s slideout forwards;
  }

  .sidebar {
    width: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1;
  }
}

@media screen and (max-width: 535px) {
  .practice-form {
    width: 100%;
  }

  .practice-type {
    flex-direction: column;
  }

  #type-range {
    margin: 0.5rem 0 1rem 0;
  }

  #green-label {
    margin: 0;
  }

  #type-green {
    margin: 0.5rem 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .alert {
    width: 100%;
  }

  .tagline {
    font-size: 1.5rem;
  }

  .explanation {
    font-size: 1.25rem;
  }

  .feature-list {
    flex-direction: column;
  }

  .feature {
    margin: 10px 0;
  }

  .container {
    height: auto;
  }

  .mobile-menu {
    position: static;
  }

  .main-content {
    width: 100%;
    height: auto;
  }

  /** 
  * Fix so that the logout button isn't covered by the bottom toolbars
  * in iOS Safari and Chrome Mobile 
  **/
  .logout {
    bottom: 7rem;
  }

  .scorecards {
    padding-top: 0.5rem;
  }

  .new-scorecard {
    margin-bottom: 1rem;
  }

  #add-scorecard {
    width: 90%;
  }

  .old-scorecards {
    width: 100%;
  }

  .old-scorecard {
    overflow-wrap: break-word;
  }

  .practice-form input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0.5rem;
  }

  .practice-time {
    flex-direction: column;
  }

  .time-wrap {
    width: 50%;
  }

  #add-practice {
    width: 100%;
  }

  .practice-sessions {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .trophies {
    grid-template-columns: repeat(2, 1fr);
  }
}
