/**
  Color Palette:
  Navy Blue:     #120a6b
  Medium Blue:   #1a15bd
  Light BLue:    #69b4e1  **
  Dark Green:    #08946d  **
  Light Green:   #47e77a  **
**/

/*
  General and landing page styles
*/

* {
  margin: 0;
  padding: 0;
}

:focus {
  border: 3px solid #47e77a;
}

header {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  background: #4eabe6;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border-bottom: 0.5em solid #47e77a;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

p {
  font-size: 1.5rem;
}

h2 + p {
  margin-top: 2rem;
}

.logo {
  color: white;
  margin-left: 1.5rem;
  font-family: "Fugaz One", cursive;
  white-space: nowrap;
}

.account {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
}

.account .btn {
  width: 6rem;
  font-size: 1rem;
}

.btn {
  border: 1px solid white;
  padding: 0.5rem;
  text-align: center;
  white-space: nowrap;
  border-radius: 100px;
  margin: 1rem;
}

.btn:hover {
  color: #4eabe6;
  background: white;
}

.menu-bars {
  display: none;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: url("../images/green-flagstick.jpg") no-repeat fixed bottom;
  background-size: cover;
  font-size: 3rem;
  font-family: "Fugaz One", cursive;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: #47e77a;
  text-decoration-color: #47e77a;
  padding-top: 15vh;
  color: white;
}

.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(105, 105, 105, 0.7);
  border-radius: 100px;
  padding: 2rem;
  margin: 0px 10px 150px 10px;
}

.explanation,
.filler {
  background-color: #eeecec;
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 2.5rem;
  color: #4eabe6;
  padding: 1rem 4rem;
}

.stats {
  display: flex;
  flex-direction: column;
  background-color: #4eabe6;
  font-family: "Prompt", sans-serif;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.stat-icon {
  display: flex;
  flex-direction: column;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4eabe6;
  border-top: 0.5rem solid #47e77a;
  text-align: center;
  color: white;
  padding: 1rem;
}

footer p {
  font-size: 1rem;
}

/*
  Log in page styles
*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding-top: 15vh;
  background: url("../images/green-flagstick.jpg");
  background-size: cover;
}

.log-in-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Prompt", sans-serif;
  background: #4eabe6;
  border: 3px solid #47e77a;
  padding: 2rem;
  margin-bottom: 15vh;
}

.log-in-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  color: white;
}

form label {
  margin-bottom: 10px;
}

form input {
  width: 100%;
  height: 25px;
  margin: 0 0 20px 0;
  padding: 5px;
}

form input[type="submit"] {
  height: 2rem;
  background-color: #4eabe6;
  color: white;
  font-size: 1rem;
  /* Clears default styling on iOS Safari */
  -webkit-appearance: none;
  cursor: pointer;
}

/*
  Dashboard syles
*/

.dash-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/course-aerial.jpg");
  background-size: cover;
}

.dash-grid {
  width: 95vw;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-family: "Prompt", sans-serif;
  margin: 1rem;
  border-radius: 25px;
}

.dash-nav {
  display: flex;
  flex-direction: column;
  background-color: rgba(78, 171, 230, 0.7);
  border-right: 5px solid #47e77a;
  border-radius: 25px 0 0 25px;
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 1rem;
}

.dash-nav a {
  color: white;
}

.nav-elem {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 15px;
  margin: 0 5px;
}

.nav-elem:hover {
  background-color: white;
  color: #4eabe6;
}

.nav-elem-heading {
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 1rem;
}

.dash-profile {
  border: 2px solid #47e77a;
  margin: 1rem 1rem 5rem 1rem;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align-self: center;
}

.dash-options {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.dash-options a {
  width: 50%;
  text-align: center;
  border-radius: 10px;
}

.dash-options a:hover {
  color: #4eabe6;
  background-color: white;
}

.dash-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  padding: 3rem;
  background-color: white;
  border-radius: 0 25px 25px 0;
}

.info-elem {
  background: #4eabe6;
  border: 3px solid #47e77a;
  border-radius: 15px;
}

.info-elem h2 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
}

/*
  Media queries for mobile
*/

@media screen and (max-width: 950px) {
  .landing {
    font-size: 2rem;
    padding-top: 25vh;
  }

  .tagline {
    padding: 1rem;
  }

  .icon-wrapper {
    flex-direction: column;
  }

  .stat-icon {
    margin: 1em 0;
  }
}

@media screen and (max-width: 550px) {
  header {
    padding: 1rem;
  }

  .logo {
    margin: auto;
  }

  .account {
    font-size: 1rem;
    display: none;
  }

  .menu-bars {
    display: block;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .landing {
    font-size: 1rem;
    background-image: url("../images/fairway.jpg");
    background-position: center;
    background-attachment: initial;
    padding-top: 15vh;
  }

  .tagline {
    padding: 0.75rem;
  }

  .explanation,
  .stats,
  .filler {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .explanation h2,
  .stats h2,
  .filler h2 {
    font-size: 2rem;
  }

  .responsive {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .responsive .btn {
    width: 100%;
    margin: 0.5rem;
    font-size: 1.25rem;
  }

  .container {
    background-image: url("../images/fairway.jpg");
    background-position: center;
    background-attachment: initial;
  }

  .log-in-box {
    width: 80%;
    padding: 1rem;
  }

  .log-in-box h2 {
    font-size: 2rem;
    width: 100%;
    margin: 5px 0;
  }

  form input {
    width: 100%;
  }
}
